.form-search-car {
    height: 300px;
    width: 1000px;
    margin: auto;
    border-radius: 10px;
    background-color: white;

    .Driver {
        h4 {
            font-weight: 400;
            font-size: x-large;
        }

        margin-left: 4%;
        align-items: center;
        display: flex;
        height: 100px;

        .form-check-input {
            width: 17px;
            height: 17px;
            margin-right: 10px;

        }


        .WithoutD {
            margin-left: 4%;
        }

        .WithD {
            margin-left: 4%;
        }
    }

    .Location {
        margin-left: 4%;
        height: 100px;

        .label {
            font-weight: 400;
        }

        .input-group {
            input.form-control.rounded {
                border: 1px solid;
                height: 35px;

            }

            padding-top: 10px;
            width: 50%;
        }
    }

    .Time {
        .TimePicker {
            border: 1px solid;
            width: 90px;
            border-radius: 5px;
            height: 35px;

        }


        margin-left: 4%;
        height: 100px;
        display: flex;

        .RSDlabel {
            font-weight: 400;
            margin-top: 10px;
            margin-bottom: 10px;
            border: none;
        }

        .DatePicker {
            height: 35px;
            border: 1px solid;
            width: 90%;
            border-radius: 5px;
        }

        .RentalStartDate {
            width: 33%;
            height: 100%;
        }



        .RentalEndDate {
            width: 33%;
            height: 100%;
        }



        .ButtonSearch {
            width: 24%;
            height: 100%;

            button {
                margin-left: 10px;
                border: none;
                background-color: #ff5e1f;
                width: 260px;
                height: 45px;
                border-radius: 8px;
                margin-top: 36px;
                box-shadow: none;

                .lbButton {
                    font-weight: 800;
                    color: white;
                }
            }
        }
    }
}

.Infor {
    margin-top: 60px;
    box-shadow: none;

    .lable1 {
        font-weight: 300;
        padding-left: 35%;
        font-size: xx-large;
    }

    .content {
        padding-top: 30px;
        margin: auto;
        width: 1000px;
        height: 500px;
        display: flex;

        .img-car {
            margin-top: 50px;
            margin-left: 50px;
        }

        .title {
            color: black;
            font-size: large;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        .p {
            margin-top: 50px;
            text-align: center;
            font-weight: 300;
            font-size: medium;
        }



        .s1 {
            width: 25%;
        }

        .s2 {
            width: 25%;
        }


        .s3 {
            width: 25%;
        }

        .s4 {
            width: 25%;
        }
    }
}

.Driver-content {
    margin-top: 50px;

    h2 {
        margin-top: 60px;
        text-align: center;
    }

    .driverct {
        padding-top: 50px;
        width: 1000px;
        margin: auto;
    }
}

input.DatePicker.flatpickr-input {
    margin-left: 3px;
    margin-top: 3px;
}